#root {
  margin: 2rem auto;
  padding: 2rem;
  text-align: center;
  position: relative;
  background-color: #fff;
  border-radius: 30px;
  padding: 40px;
  width: 500px;
  max-width: 90%;
}

#root:before,
#root:after {
  content: '';
  display: block;
  height: 50px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#root:before {
  width: 95%;
  bottom: -10px;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 0;
}

#root:after {
  width: 90%;
  bottom: -20px;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 1;
}
