:root {
  --primary-color: #ff006e;
  --bg-color: #6a5be2;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  /* background-color: rgba(255, 255, 255, 0.87); */
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  margin-top: 20px;
  border-radius: 30px;
  padding: 15px 30px;
  font-size: 20px;
  font-weight: bold;
  font-family: inherit;
  background-color: var(--primary-color);
  color: #f9f9f9;
  cursor: pointer;
  transition: all 0.3s;
  outline: none;
  border: 1px solid var(--primary-color);
}
button:hover {
  background-color: #f9f9f9;
  color: var(--primary-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto var(--primary-color);
}